*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/cpage.jpg);
	background-repeat:no-repeat;
	height:100vh;
	background-size:cover;
	background-position:center;	
}
ul{
	float:right;
	list-style-type: none;
} 
ul li{
	display:inline-block;	
}
ul li a{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border:1px solid transparent;
}
ul li a:hover{
	background-color:cyan;
	color:#000;
	border-radius: 50px;
}
ul li.active a{
	background-color:red;
	color: #000;
	border-radius: 150px;
}
#sideNav{
	width: 200px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: #f1f0f07a;
	z-index:2;
	transition: 0.5s;
	border:1px solid transparent;
}
#sideNav ul li a{
	color: #fff;
	margin-top: 70px;
}
#sideNav ul li a:hover{
	background-color:cyan;
	color:#000;
	border-radius: 50px;
}
nav ul li{
	list-style: none;
	margin: 30px 20px;
	padding: 8px 12px;
}
nav ul li{
	text-decoration: none;
	color: #fff;
}
.nav ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	display: block;
	margin: 2;
	transition: 0.5s;
}
#menuBtn{
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#menuBtn img{
	width: 70px;
	margin-top: 0;
	margin: 2px;	
}
.logo img{
	float:left;
	width:100px;
	height:auto;
}
.main{
	max-width:1200px;
	margin:auto;
}
.title {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size:80px;
	font-style:italic;
}
button{
	width:200px;
	padding:15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
	border: none;
}
.btnone{
	color:#fff;
	font-size:10px;
	font-style: italic;	
}
.col-2{
	font-style: initial;
	color:#fff;
}
.btnone:hover{
	color: red;
	font-size: 20px;
}
.btnone{
	color: rgb(199,216,139);
	font-size: 20px;
}
.content h1{
	margin: 0 10PX;
	color:rgba(180, 212, 230, 0.877);
}
.content h3{
	color: rgb(113, 117, 117);
	font-style: italic;
}