body{
    background-color: rgb(229, 240, 236);
    background-image: url("Img/bgpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

h1{
    letter-spacing: 2px;
}
h2{
    letter-spacing: 2px;

}
ul li {
    background: #edf044;
    color: darblue;
    margin: 2px;
  }

  img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
  }
  #sideNav{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f1f0f07a;
    z-index:2;
    transition: 0.5s;
    border:1px solid transparent;
  }
  #sideNav ul li a{
    color: #fff;
    margin-top: 70px;
  }
  #sideNav ul li a:hover{
    background-color:cyan;
    color:#000;
    border-radius: 50px;
  }
  nav ul li{
    list-style: none;
    margin: 30px 20px;
    padding: 8px 12px;
  }
  nav ul li{
    text-decoration: none;
    color: #fff;
  }
  .nav ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin: 2;
    transition: 0.5s;
  }
  #menuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  }
  #menuBtn img{
    width: 70px;
    margin-top: 0;
    margin: 2px;	
  }
  